{% extends 'base.html' %}
{% load static %}

{% block titulo %}
GuardCar
{% endblock titulo %}

{% block scripts %}

{% endblock scripts %}   

{% block content %}

<div class="container col-md-10 centered">
      <div class="text-center centered">
        
        <h2>Para concluir a reserva de sua vaga</h2>
        <p class="lead">Escolha a forma de Pagamento abaixo.</p>
      </div>

            <div class="col-md-10 centered" >
                <h4 class="mb-3">Pagamento</h4>
              <div class="custom-control custom-radio">
                <input id="credito" name="paymentMethod" type="radio" class="custom-control-input" required="" checked="">
                <label class="custom-control-label" for="credito">Cartão de crédito</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debito" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debito">Cartão de débito</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="dinheiro" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="dinheiro">Dinheiro</label>
              </div>
            </div>
            <a onclick="pagou()" class="btn btn-primary btn-lg btn-block">Agendar</a>
          
</div>
{% endblock content %}

{% block extra_body %}
{% endblock %}

{% block scripts_footer %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function pagou(){
        swal("Reserva Realizada", "Volte sempre!", "success");
    }
    </script>
{% endblock scripts_footer %}
