{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Icons Dark Navigation</title>

    <link rel="stylesheet" href="{% static 'nav/demo.css' %}">
    <link rel="stylesheet" href="{% static 'nav/navigation-dark.css' %}">
    <link rel="stylesheet" href="{% static 'nav/slicknav/slicknav.min.css' %}">
  
</head>

<body>
  <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home:home' %}">Inicio <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <span class="nav-link" href="{% url 'logout' %}">Olá {{request.user.first_name}}, seja bem vindo <span class="sr-only"></span></span>        
          </li>
        <li class="nav-item active pull-right">
          <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only"></span></a>        
        </li>
        {% else %}
        <li class="nav-item active pull-right">          
          <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cadastro/">Cadastre-se <span class="sr-only"></span></a>
        </li>
        {% endif %}

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Empresa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="">Cadastrar Empresa</a>
            <a class="dropdown-item" href="">Listar Empresas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departamento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="">Cadastrar Departamento</a>
            <a class="dropdown-item" href="">Listar Departamentos</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>


<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'nav/slicknav/jquery.slicknav.min.js' %}"></script>
</body>
</html>
