{% load static %}
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Sidebar menu plugin JavaScript -->
<script src="{% static 'bower_components/sidebar/dist/jquery.sidebar.min.js' %}"></script>
<!--Slimscroll JavaScript For custom scroll-->
<script src="{% static 'bower_components/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'bower_components/Waves/dist/waves.js' %}"></script>
